<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataStructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>动态查找_B树BST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>希尔排序ShellSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>快速排序QuickSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>排序Sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>查找Search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>栈Stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>树Tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>链表LinkedList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>队列Queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>275A3E321B2D4DE700671F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>275A3E401B2D4E1200671F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279B86931F5803CD00EFC92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279B869E1F58042C00EFC92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279B86A91F58047800EFC92F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CD94BB1B2E839000616C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CD94C61B2E94B700616C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CD94D11B2E9C2E00616C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CD94DC1B2EA8BE00616C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CD94E71B2EB16300616C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
